.headerContent,
.headerSubheader {
  color: white !important;
}
.headerSubheader {
  opacity: 0.7;
}

.tableLaptopVersion {
  display: none;
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    .tr {
      margin: 10px !important;
    }
    .centeredTableCell {
      display: flex;
      text-align: center !important ;
    }
    .centerImg {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
    .tableMobileVersion {
      padding: 10px !important;
    }
  }
@media (min-width: $breakpoint-tablet) {
  .tableLaptopVersion {
    display: flex;
  }
  .tableMobileVersion {
    display: none;
  }
}
