.headerContent,
.headerSubheader {
  color: white !important;
}
.headerTop {
  text-align: center;

  //   justify-content: space-between;
  align-items: center;
}

.topBarText {
  height: 100px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
