.headerContent,
.headerSubheader {
  color: white !important;
}
.headerSubheader {
  opacity: 0.7;
}
.headerTop {
  text-align: center;

  //   justify-content: space-between;
  align-items: center;
}

.topBarText {
  height: 100px;
  text-align: center;
  align-items: center;
  display: flex;
  font-size: 26px !important;
  justify-content: center;
}
.formTextsTop  {
  label{ margin-left: 5px !important;}
}
.tableLaptopVersion {
  display: none;
}
.mobileTableHeadLabel {
  display: flex;
  text-align: center !important; 
  font-size: 20px !important;
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .tr {
    margin: 10px !important;
  }
  .centeredTableCell {
    display: flex ;
    text-align: center !important ;
  }
  .centerImg{
    display: flex ;
    justify-content: center;
    margin-bottom: 10px;
  }
  .tableMobileVersion {
    padding: 10px !important;
  }
}
@media (min-width: $breakpoint-tablet) {
  .tableLaptopVersion {
    display: flex;
  }
  .tableMobileVersion {
    visibility: hidden;
  }
}
